div{
    width: 50%;
    height: 50%;
    background-color: aqua;
}

.circle{
    width: 300px;
    height: 300px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWoQPrJvAncDxIlbv-IXDjOL9EEgkUU8qfVw&s");
    background-size: cover;
    transition: border-radius 1s, background-color 1s, transform 1s;
}

.circle:hover{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #5817b9;
    transform: rotateX(360deg);
}

.test{
    width: 100px;
    height: 100px;
    background-color: #0b23c5;
    transition: padding-left 1s;
}

.test:hover{
    width: 100px;
    height: 100px;
    padding-left: 100px;
}

p{
    font-family: "WDXL Lubrifont JP N", sans-serif;;
}