<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="POST">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" placeholder="product name" required>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" placeholder="price" required>
        <br>
        <!-- 選択式にする -->
        <label for="category">Category:</label>
        <select id="category" name="category" required>
            <% for (let category of categories) {%>
                <option value="<%= category %>"><%= category %></option>
            <% }%>
        </select>

        <button type="submit">Create Product</button>
    </form>

</body>
</html>