<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= ground.title %></h1>
    <p><%= ground.description %></p>
    <p><%= ground.location %></p>
    <a href="/campgrounds">Back to List</a>
    <a href="/campgrounds/<%= ground._id %>/edit">Edit</a>
</body>
</html>