<% layout('layouts/boilerplate') %>

<h1>Secret Page</h1>
<p>This is a secret page that only authorized users can access.</p>
<a href="/campgrounds">Back to Campgrounds</a>
<!-- <a href="/logout">Logout</a> -->
