<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Home Page<%= num %></h1>
    <% if (num%2==0){%>
        <h2>偶数だよ</h2>
        <%}%>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quas nesciunt, vel, expedita officiis rem sunt eaque quos voluptatum aliquid odit recusandae fugit veritatis vitae cupiditate minima cum deleniti quis.
    Porro, eligendi. Laudantium, suscipit aperiam minima ratione maxime cupiditate ea voluptates harum ab facere molestiae rem a nobis sint veniam impedit doloribus sequi pariatur laboriosam eius corrupti quisquam enim nulla.
    Necessitatibus laboriosam quasi laudantium non consequatur molestias accusamus eligendi perspiciatis commodi quia, ipsa assumenda, voluptatem consequuntur a? Consequuntur magnam, corrupti numquam aliquid sit cum quis neque reiciendis explicabo corporis odio.</p>
</body>
</html>